.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: black;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.App-footer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + vmin);
  color: black;
}

.App-link {
  color: #378BA4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-padding {
  margin-top: 20px;
}

.card-fixed {
  font-size: calc(10px + vmin);
  padding: 10px;
  margin-top: 20px;
  width: 70vh;
  max-height: 60vh;
  position: fixed;
  overflow-y: auto;
}

.a {
  background-color: rgba(0, 255, 255, 0.0);
}

.a:hover {
  background-color: rgba(0, 255, 242, 0.1);
}

.b {
  background-color: rgba(247, 255, 95, 0.2);
}

.b:hover {
  background-color: rgba(255, 255, 59, 0.4);
}

.c {
  background-color: rgba(255, 191, 0, 0.2);
}

.c:hover {
  background-color: rgba(255, 208, 0, 0.4);
}

.d {
  background-color: rgba(255, 128, 0, 0.2);
}

.d:hover {
  background-color: rgba(255, 128, 0, 0.4);
}

.e {
  background-color: rgba(255, 0, 0, 0.2);
}

.e:hover {
  background-color: rgba(255, 0, 0, 0.4);
}